/*
 *  Copyright 2022 MFB Technologies, Inc.
 */

.renderer-result {
  display: inline-block;
  padding: 2px 5px;
}
.info {  
  color: white;
  background-color: blue;
}
.loading {
  background-color: yellow;
}
.success {
  color: white;
  background-color: green
}
.error {
  background-color: red;
}